{% extends 'collective_blog/base.html' %}
{% block content %}
    <div class="col-md-8">
        <div align="center" class="post">
            <h3>Добавить пост в блог "{{ Blog_name }}"</h3>
            <form method="POST" class="post-form">
                {% load wysiwyg %}
                {% wysiwyg_setup %}
                {% csrf_token %}
                {{ Form}}
                {% wysiwyg_editor "id_text" %}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
    </div>
{% endblock %}