{% extends 'collective_blog/base.html' %}
{% block selector %}
    <div class="row">
		<div class="col-md-12">
            <div class="span12 centered-pills">
                <ul class="nav nav-pills">
                    <li>
                        <a href="{% url 'by_date_all_page' page_number=1 %}">Последнее</a>
                    </li>
                    <li class="active">
                        <a href="#">Лучшее</a>
                    </li>
                </ul>
            </div>
        </div>
	</div>
{% endblock %}
{% block content %}
        <div class="col-md-8" id="posts">
			<div class="row">
				{% for Post in Page_posts %}
                    <div class="post">
					    <h3 class="text-center">
						    <a href="{% url 'post_detail' post_id=Post.pk blog_id=Post.blog.name%}">{{ Post.title }}</a>
					    </h3>
                        Дата: <span class="label label-info">{{ Post.published_date }}</span>
                        Блог: <span class="label label-info">Блог: <a href="{% url 'blog_detail' blog_id=Post.blog.name %}">{{ Post.blog.full_name }}</a></span>
                        Рейтинг: <span class="label label-info">{{ Post.rating }}</span>
                        Автор: <span class="label label-info">{{ Post.author }}</span>
					    <p class="text_preview">
                            <br>
						    {{ Post.text|safe }}
                        </p>
				    </div>
                {% endfor %}
			</div>
		</div>
{% endblock content %}

{%  block pages %}
    <div align="center">
        <ul class="pagination">
            {% for c in count_pages %}
                <li>
                    <a href="{% url 'by_rating_all_page' page_number=c %}">{{ c }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}