{% extends 'collective_blog/base.html' %}
{% block content %}
    <div class="col-md-8">
        <div class="container-fluid">
	        <div class="row">
		        <div class="col-md-12">
                    <div align="center" class="post">
                        <h3>Registration</h3>
                        <form method="POST" class="post-form">
                            {% csrf_token %}
                            <table id="regtable">
                                {{ RegistrationForm.as_table }}
                            </table>
                            <button type="submit" class="save btn btn-default">Save</button>
                        </form>
                    </div>
		        </div>
	        </div>
        </div>
    </div>

{% endblock content %}